*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
}
p, h2{
    margin-left: 10px;
    font-size:20px;
}
.Bordercolor{
    border:10px solid;
}
.Borderstyle{
    border:10px;
    border-style: solid dotted groove double;
}
.Borderwidth{
    border:10px solid;
    border-width: 5px 10px 15px 20px;
}
.Borderradius{
    border:10px solid;
    border-radius: 0px 30px 70px 20px;
}
.Bordercolor, .Borderstyle, .Borderwidth, .Borderradius{
    border-color: #85C226 #F7C200 #4493A0 #DF127B;
    width:500px;
    padding: 20px;
    text-align: center;
}
#adv-hemisphere{
    border-width: 4px 30px 4px 30px;
    border-style: groove ridge dashed groove;
    border-color: #27df46;
    border-radius: 100px 100px 0 0;
    width: 300px;
    height: 100px;
    padding: 20px;
    text-align: center;
}
#round-rectangle{
    border: 5px solid orange;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    padding: 20px;
    text-align: center;
}
#advanced-round-rectangle{
    border-width: 0px 12px 0px 12px;
    border-style:double;
    border-color: violet;
    border-radius: 40px 40px 60px 60px;
    width: 300px;
    height: 100px;
    padding: 20px;
    text-align: center;
}
#bullet{
    border: 5px solid;
    border-color: green;
    border-radius: 20px 100px 100px 20px;
    width: 200px;
    height: 100px;
    padding: 20px;
    text-align: center;
}
.adv-leaf{
    background:orange;
    border-width: 4px 30px 4px 30px;
    border: 5px solid;
    border-color: #56c6d9 #56c6d9 #fe2192 #fe2192;
    border-radius:0px 120px 0px 120px;
    width: 300px;
    height: 100px;
    padding: 20px;
    text-align: center;
}
button{
    width: 200px;
    padding: 8px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
    border-radius:10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    font-size:125%;
}